body {
    background-color: turquoise;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 150px 500px 500px; */
    column-gap: 15px;
    row-gap: 30px;
}

#success {
    grid-column: 1/4;
    grid-row: 1;
    background-color: green;
}

#first {
    display: grid;
    grid-template-columns: 1fr 4fr;
}